nav {
    display: flex;
    justify-content: center;
}
.alert-info {
    display: flex;
    justify-content: center;
    background: rgb(192	255	255);
    border: 1px rgb(203	228	228);
    padding: 10px 0 10px 0;
}
.alert-info a {
    color: black;
    text-decoration: none;
}
h1 {
    display: flex;
    justify-content: center;
}
.nav-links {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
}
li {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    background: lightgray;
    margin: 8px 0 8px 0;
    padding: 15px 0 15px 0;
}

.header-img {
    display: flex;
}
img {
    display: flex;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
}
section {
    display: flex;
    align-content: space-between;
    flex-direction: column;
}
h2{
    flex-wrap: nowrap;
}
p{
    flex-wrap: wrap;
}
.sub-section {
    font-style: italic;
}
@media (min-width: 700px) {
    h1 {
        position: absolute;
        margin-right: auto;
    }
    .hidden-on-desktop{
      display: none;
    }
    nav {
        display: flex;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    li {
        background: none;
        margin: 0 15px 0 15px;
    }
    .header-img{
        display: flex;;
        max-height: 385px;
    }
    section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    h2{
        align-items: flex-start;
    }
    .main {
        flex-grow: 1;
    }
    .sub-section{
        flex-grow: 1;
    }
}